/* ===================================
    FONTS
    =================================== */

@font-face {
  font-family: 'General Sans Variable';
  src: url('../fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ===================================
    VARIABLES
    =================================== */

body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--grayscale-surface-default, #F3F0EE);
}

h2{
    color: var(--grayscale-text-title, #26201E);

    /* Heading/H2 */
    font-family: var(--fonts-style-heading, "Source Serif 4");
    font-size: var(--fonts-size-heading-H2, 31px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--fonts-line-height-heading-H2, 41px); /* 132.258% */
}

h4{
    color: var(--grayscale-text-title, #26201E);

    /* Heading/H4 */
    color: var(--grayscale-text-title, #26201E);

    /* Heading/H4 */
    font-family: var(--fonts-style-heading, "Source Serif 4");
    font-size: var(--fonts-size-heading-H4, 19px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--fonts-line-height-heading-H4, 25px); /* 131.579% */
    margin: 0;
}

p{
    color: var(--grayscale-text-title, #26201E);
    margin: 0;
}

.b2{
    color: var(--grayscale-text-body, #26201E);

    /* Body/B2 */
    font-family: var(--fonts-style-body, "General Sans Variable");
    font-size: var(--fonts-size-body-B2, 24px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--fonts-line-height-body-B2, 38px); /* 158.333% */
}

.b3{
    color: var(--grayscale-text-body, #26201E);

    /* Body/B3 */
    font-family: var(--fonts-style-body, "General Sans Variable");
    font-size: var(--fonts-size-body-B3, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--fonts-line-height-body-B3, 19px); /* 158.333% */


    color: var(--grayscale-text-body, #26201E);
}

/* ===================================
    ASSETS
    =================================== */

.icons{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.logo{
    width: 68px;
    height: 68px;
}